<h1>Hi, <%= current_user.username %></h1>
<br>
<h2>Here are your Categories!</h2>
<p>Click on a Category to edit or delete!</p>


<br>
<a href="/categories/new">Add New Category</a><br>
<a href="/logout">Log Out</a>
