<h1><%= @category.name %></h1>
<h2>View Task:</h2>
<h3><%= @category.tasks %></h3>
<br>
<br>

<a href="/categories/<%= @category.id %>/edit">Edit tasks</a>
<br>
<br>
  <form action="/categories/<%=@category.id%>/delete" method="POST">
    <input id="hidden" type="hidden" name="_method" value="delete">
    <input type="submit" value="Delete Task">
  </form>
<br>
<a class="button" href="/categories/categories">Back to Tasklist</a><br>
<a class="button" href="/logout">Log Out</a>
